body{
	background-color: #fceabb;
	width: 100%;
}
.head h1{
	text-decoration-style: none;
	text-align: center;
	padding: 20px;
	background-color: orange;
	height: 100px;
	font-size: 90px;
	font-family: Copperplate, Papyrus, fantasy;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 30px;
}
.container{
	background-color:#333;
	color: white;
	text-decoration: none;
	height: 40px;
	padding: 8px;
	padding-left: 20px;
	

}
.container li{
	display: inline;
	text-decoration-color: black;
}
.Welcome h1{
	text-decoration-color: orange;
	color: yellow;
	padding-left: 10px;
	margin-left: 15pxs;
	padding-top: 10px;
}

.Welcome{
	background-image:url(Images/bgm.webp);
	height: 400px;
	background-repeat: no-repeat;
	background-size: 100%;
}


.Welcome h2{
	padding-top: 60px;
	text-align: center;
	color: #fff;
	
	
}


.section-1{
	background-color: #ff61d2;
	border: 2px darkred solid;
	color: black;
	text-align: center;
	padding-top: 50px;
	float: left;
	width: 58%;
	box-sizing: border-box;
	height: 300px;

}
.section-2{
	background-color: black;
	border: 2px darkred solid;
	color: white;
	text-align: center;
	padding-right: 30px;
	padding-top: 50px;
	float: right;
	width: 40%;
	box-sizing: border-box;
	height: 300px;
	margin-right: 20px;
	
}

.section-1 h2{
	color: yellow;
	text-align: center;
}


#first{
	width: 600px;
	height: 700px;
	size: 300px;
	border-image-width: 500px;
	position: absolute;
	float: left;
	margin-left: 100px;
}
#second{
	float: right;
	width: 500px;
	height: 700px;
	right: 250px;
	position: absolute;
	margin-right: 100px;	
}

.Pic h2{
	font-size: 50px;
	padding: 50px;
	margin-top: 20px;

}
